h1 {
    /* display: flex;
    /* font-weight: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; */
    /* padding: 10px 10px;
    margin: 10px 10px; */
    font-size: 72px;
    font-weight: bold;
    color: white;
    display: flexbox;
    
}

#cover {
    background: rgba(0, 0, 0, 0.5);
    background-image: url(images/wizard.jpg);
    /* background-color: blue; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px 10px;
    height: 500px;
    
}

#mywork {
    background: #FEC520;
    height: 50vh;
}

#picme {
    display: inline;
}

#aboutme {
    background: #9F7CB2;
}   

#skills {
    background: white;
    color: black;
    height: 50vh;
}

#skills h1 {
    color: black;
}